*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background: #000;
    overflow-x: hidden;
}

#about{
    scroll-margin-top: -100px;
}

#projects{
    min-height: 100vh;
    scroll-margin-top: -100px;
}

#contact{
    min-height: 100vh;
    scroll-margin-top: -100px;
}